<div>
    <h4>Please create an account below:</h4>

    <label>EID</label><input type="text" maxlength="6" data-ng-model="eid"/> <br>
    <label>Email</label><input type="email" maxlength="60" data-ng-model="email"/> <br>
    <label>First Name</label><input type="text" maxlength="30" data-ng-model="firstName"/> <br>
    <label>Last Name</label><input type="text" maxlength="30" data-ng-model="lastName"/> <br><br>

    <button class="btn-primary"  data-ng-click="createUser.createUser(eid,email,firstName,lastName)">Create account</button>
</div>