
<div>
    <h1>SEED Candidate</h1>
</div>
<br>
<div>
    <ul class="nav nav-pills">
        <li role="presentation"><a data-ui-sref="applicant">Home</a></li>
        <li role="presentation"><a href="https://pulse.kdc.capitalone.com/groups/the-lab-card-ops-software-engineer-pilot-program">About SEED</a></li>
        <li role="presentation"><a data-ui-sref="home.application">My Application</a></li>
        <li role="presentation"><a data-ui-sref="home.userresource">View Resources</a></li>
    </ul>
</div>

<div class="col-sm-10">
    <div data-ui-view>
        <div data-ng-show="admin.user">
            Welcome back,  {{admin.user.fname}}! <br>
        </div>
        Select from the menu options
    </div>

    <div data-ng-show="home.user">
        Welcome back,  {{home.user.fname}}! <br>

        Your current status is: {{home.user.stage.sStage}}.<br>
    </div>

</div>