<div class="login">
    <link rel="shortcut icon" href="seed.png"/>

    <img src="seed.png" alt="SEED logo" height="75" width="75">

    <h4>Please Login or Sign up below:</h4>

    If this is your first visit to this site, click 'Sign up' to register.
    </br>
    </br>

    Enter your EID: <input type="text" data-ng-model="eid"/> <br><br>

    <button class="btn-primary" data-ng-click="login.getUser(eid)">Login</button>
    <button class="btn-success"  data-ng-click="login.createNewUser()">Sign up</button>
<br>
</div>