<h2>SEED Class Listing and Updates</h2>


<div class="container">
    <div class="well">
        <div class="container-responsive">
            <div class="row">
                <div class="col-xs-12 col-sm-1"><h5>Year</h5></div>
                <div class="col-xs-12 col-sm-1"><h5>Number</h5></div>
                <div class="col-xs-12 col-sm-1"><h5>Location</h5></div>
                <div class="col-xs-12 col-sm-2"><h5>App Open</h5></div>
                <div class="col-xs-12 col-sm-2"><h5>App Deadline</h5></div>
                <div class="col-xs-12 col-sm-2"><h5>Bootcamp Start</h5></div>
            </div>
        </div>
        <div data-ng-show="newClass.classList">
        <div class="row" data-ng-repeat ="seedclass in newClass.classList">
            <div class="col-xs-12 col-sm-1">{{seedclass.cYr}}</div>
            <div class="col-xs-12 col-sm-1">{{seedclass.cNum}}</div>
            <div class="col-xs-12 col-sm-1">{{seedclass.cLoc}}</div>
            <div class="col-xs-12 col-sm-2">{{seedclass.cAppOpenDate | date : format: short}}</div>
            <div class="col-xs-12 col-sm-2">{{seedclass.cAppDeadline | date : format: short}}</div>
            <div class="col-xs-12 col-sm-2">{{seedclass.cBootcampDate | date : format: short}}</div>
            <div class="col-xs-12 col-sm-1"><button class="btn-success" type="submit">Update</button></div>
            <div class="col-xs-12 col-sm-1"><button class="btn-danger" type="submit">Delete</button></div>
        </div>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="well">
        <div class="container-responsive">
            <label class="applicationLabel">Year</label><input type="Number" maxlength="20" size="20" min="2016 "placeholder="Year" data-ng-model="cYr"/> <br>
            <label class="applicationLabel">Class Number</label><input type="number" size="20" maxlength="20" placeholder="Number" data-ng-model="cNum"/> <br>
            <label class="applicationLabel">Class Location</label><input type="text" size="20" maxlength="20" placeholder="Location" data-ng-model="cLoc"/> <br>
            <label class="applicationLabel">App Open Date</label><input id="cAppOpenDate" name="cAppOpenDate" type="date" size="20" maxlength="20" placeholder="mm/dd/yyyy" data-ng-model="cAppOpenDate"/> <br>
            <label class="applicationLabel">App Close Date</label><input type="date" size="20" maxlength="20" placeholder="mm/dd/yyyy" data-ng-model="cAppDeadLine"/> <br>
            <label class="applicationLabel">Boot Camp Start</label><input type="date" size="20" maxlength="20" placeholder="mm/dd/yyyy" data-ng-model="cBootcampDate"/> <br>
    <button class="btn-success" data-ng-click="newClass.postSeedClass(cYr, cNum, cLoc, cAppOpenDate, cAppDeadLine, cBootcampDate)">Add</button>
        </div>
    </div>
</div>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>



<script>
    $(document).ready(function(){
        var date_input=$('input[name="cAppOpenDate]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
