<h1>User Resources</h1>

<div>
    <h4>Resources to practice coding:</h4>
    <ul>
        <li><a href="https://www.ACloud.Guru/">ACloud.Guru</a>
        <li><a href="https://www.CodePen.com/">CodePen.com</a>
        <li><a href="https://www.HackerRank.com/">HackerRank.com</a>
        <li><a href="https://www.JSFiddle.com/">JSFiddle.com</a>
        <li><a href="https://www.freecodecamp.com/">FreeCodeCamp.com</a>
        <li><a href="https://www.cloudacademy.com/">CloudAcademy.com</a>
        <li><a href="https://www.codeacademy.com/">CodeAcademy.com</a>
        <li><a href="https://pulse.kdc.capitalone.com/projects/operation-cloud/blog">AWS Training</a>
        <li><a href="https://pulse.kdc.capitalone.com/community/resources/capital-one-university/technology-software-engineer-college">Software Engineering College</a>
        <li><a href="https://www.codingbat.com/">CodingBat.com</a>
        <li><a href="https://www.pluralsight.com/">PluralSight.com</a>
        <li><a href="https://www.w3schools.com/html/">W3School.com</a>
    </ul>
</div>


<!--<ul>-->
    <!--<li><a href="#">Link 1</a></li>-->
    <!--<li><a href="#">Link 2</a></li>-->
<!--</ul>-->