<div data-ng-repeat="item in viewApps.viewapps">
    <div class="row">
        <div class="col-sm-6">
            <strong>Name:</strong> {{item.applicant.fname}} {{item.applicant.lname}}
        </div>
        <div class="col-sm-6">
            <strong>EID:</strong> {{item.applicant.eId}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong>Email:</strong> {{item.applicant.email}}
        </div>
        <div class="col-sm-6">
            <strong>Dept:</strong> {{item.dept}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong>Manager's Email:</strong> {{item.managerEmail}}
        </div>
        <div class="col-sm-6">
            <strong>Location:</strong> {{item.seedClass.cLoc}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong>Current Role:</strong> {{item.currRole}}
        </div>
        <div class="col-sm-6">
            <strong>Current Level:</strong> {{item.currLevel}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong>Received Strong+:</strong> {{item.strongPlus}}
        </div>
        <div class="col-sm-6">
            <strong>Manager Approval:</strong> {{item.mgrApproval}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <strong>Boot Camp Date:</strong> {{item.seedClass.cBootcampDate | date}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <strong>Skills:</strong> {{item.techSkillsLangs}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <strong>Education:</strong> {{item.education}}
        </div>
        <div class="col-sm-12">
            <strong>Tech Organizations:</strong> {{item.techOrgs}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <strong>Reasons for Success:</strong> {{item.seedSuccess}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <strong>Comments:</strong> {{item.comments}}
        </div>
    </div>
    <hr>
</div>