body {
    margin: 0 auto;
    padding: 15px;
}



.centered {
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    position:fixed;
}


label {
    display: inline-block;
    width: 300px;
    text-align: left;
    font-weight: normal;
}​

 .applicationLabel {
     width: 255px;
 }​
