body {
    margin: 0 auto;
    padding: 15px;
}

.centered {
    position: absolute;
    top: 35%;
    /*padding: 15px;*/
    left: 10%;
    width: 80%;
    /*height:30%;*/
    /*border: 3px solid;*/
}

label {
    display: inline-block;
    width: 300px;
    text-align: left;
    font-weight: normal;
}​

 .applicationLabel {
     width: 255px;
 }​
